<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Escala dos Acólitos</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="container">

    <!-- TÍTULO -->

    <h1 class="titulo-principal">
        👦 Escala dos Acólitos
    </h1>

    <p class="frase-biblica">
        “Servi ao Senhor com alegria.” — Salmo 100
    </p>

    <!-- ESCALA -->

    {% for a in acolitos %}

    <div class="card">

        <p>
            <b>Cruciferário:</b>
            {{ a.cruciferario }}
        </p>

        <hr>

        <p>
            <b>Turiferário:</b>
            {{ a.turiferario }}
        </p>

        <hr>

        <p>
            <b>Naveteiro:</b>
            {{ a.naveteiro }}
        </p>

        <hr>

        <p>
            <b>Cerimoniário:</b>
            {{ a.cerimoniario }}
        </p>

        <hr>

        <p>
            <b>Velas:</b>
            {{ a.velas }}
        </p>

        <hr>

        <p>
            <b>Missal:</b>
            {{ a.missal }}
        </p>

        <hr>

        <p>
            <b>Campainha:</b>
            {{ a.campainha }}
        </p>

    </div>

    {% endfor %}

    <!-- VOLTAR -->

    <a href="/" class="botao">
        🏠 Voltar ao Início
    </a>

</div>

</div>

</body>
</html>
