<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Avisos Semanais</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="container">

    <!-- TÍTULO -->

    <h1 class="titulo-principal">
        📢 Avisos Semanais
    </h1>

    <p class="frase-biblica">
        “Tudo tem o seu tempo.” — Eclesiastes 3:1
    </p>

    <!-- LISTA -->

    {% for a in avisos %}

    <div class="card">

        <h2>
            {{ a.titulo }}
        </h2>

        <p>
            {{ a.descricao }}
        </p>

    </div>

    {% endfor %}

    <!-- VOLTAR -->

    <a href="/" class="botao">
        🏠 Voltar ao Início
    </a>

</div>

</div>

<script>
    setInterval(function() {
        location.reload();
    }, 120000);
</script>

</body>
</html>
