<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Editar Escala de Acólitos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">
<div class="container">

    <!-- TÍTULO -->
    <h1 class="titulo-principal">
        ⛪ Editar Escala de Acólitos
    </h1>

    <p class="frase-biblica">
        “Servi ao Senhor com alegria.” — Salmo 100
    </p>

    <!-- CARD -->
    <div class="card">

        <form method="POST">

            <!-- CRUCIFERÁRIO -->
            <label><b>Cruciferário</b></label>

            <input 
                type="text"
                name="cruciferario"
                value="{{ acolito.cruciferario }}"
                placeholder="Cruciferário"
                required
            >

            <!-- TURIFERÁRIO -->
            <label><b>Turiferário</b></label>

            <input 
                type="text"
                name="turiferario"
                value="{{ acolito.turiferario }}"
                placeholder="Turiferário"
            >

            <!-- NAVETEIRO -->
            <label><b>Naveteiro</b></label>

            <input 
                type="text"
                name="naveteiro"
                value="{{ acolito.naveteiro }}"
                placeholder="Naveteiro"
            >

            <!-- CERIMONIÁRIO -->
            <label><b>Cerimoniário</b></label>

            <input 
                type="text"
                name="cerimoniario"
                value="{{ acolito.cerimoniario }}"
                placeholder="Cerimoniário"
            >

            <!-- VELAS -->
            <label><b>Velas</b></label>

            <input 
                type="text"
                name="velas"
                value="{{ acolito.velas }}"
                placeholder="Velas"
            >

            <!-- MISSAL -->
            <label><b>Livro</b></label>

            <input 
                type="text"
                name="livro"
                value="{{ acolito.livro }}"
                placeholder="Livro"
            >

            <!-- CAMPAINHA -->
            <label><b>Altar</b></label>

            <input 
                type="text"
                name="altar"
                value="{{ acolito.altar }}"
                placeholder="Altar"
            >

            <!-- BOTÃO -->
            <button class="botao" type="submit">
                💾 Guardar Alterações
            </button>

        </form>

    </div>

    <!-- VOLTAR -->
    <a href="/admin" class="botao">
        ⬅️ Voltar
    </a>

</div>
</div>

</body>
</html>
