<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">

    <!-- RESPONSIVO MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Financeiro - Paróquia São Miguel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="overlay">
<div class="container">

    <h1 class="titulo-principal">💰 Financeiro da Paróquia</h1>

    <!-- =========================
         RESUMO FINANCEIRO
    ========================= -->
    <div class="cards">

    <div class="card mini">
        <h2>💵 Dízimos</h2>
        <div class="valor positivo">
            {{ total_dizimos if total_dizimos else "0.00" }} MZN
        </div>
    </div>

    <div class="card mini">
        <h2>⛪ Ofertórios</h2>
        <div class="valor positivo">
            {{ total_ofertorios if total_ofertorios else "0.00" }} MZN
        </div>
    </div>

    <div class="card mini">
        <h2>🎁 Outros</h2>
        <div class="valor positivo">
            {{ total_outros if total_outros else "0.00" }} MZN
        </div>
    </div>

</div>

<!-- 🔵 destaque médio -->
<div class="card destaque">
    <h2>📊 Total de Entradas</h2>
    <div class="valor positivo grande">
        {{ total_entradas if total_entradas else "0.00" }} MZN
    </div>
</div>

<!-- 🔴 destaque principal -->
<div class="card destaque-banco">
    <h2>🏦 Saldo Bancário</h2>
    <div class="valor grande">
        {{ saldo_bancario if saldo_bancario else "0.00" }} MZN
    </div>
</div>

    

    <!-- =========================
         TABELA
    ========================= -->
    <div class="card">

        <h3>📊 Movimentos Financeiros</h3>

        <div class="table-responsive">

            <table>

                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>

                <tbody>

                {% for item in financeiro %}
                    <tr>
                        <td>{{ item.tipo }}</td>
                        <td>{{ item.descricao }}</td>
                        <td>{{ item.valor }} MZN</td>
                        <td>{{ item.data }}</td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>
        
<div style="margin-top: 15px;">
   <a href="/dizimista_logout" class="botao botao-sair">
        🚪 Sair
    </a>

    </div>

</div>
</div>

</body>
</html>
