<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Escala de Leitores</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="container">

    <!-- TÍTULO -->

    <h1 class="titulo-principal">
        📖 Escala de Leitores
    </h1>

    <p class="frase-biblica">
        “A tua palavra é lâmpada para os meus pés.” — Salmo 119
    </p>

    <!-- ESCALA -->

    {% for l in leitores %}

    <div class="card">

        <p>
            <b>Primeira Leitura em Português:</b>
            {{ l.primeira_pt }}
        </p>

        <hr>

        <p>
            <b>Primeira Leitura em Changana/Ronga:</b>
            {{ l.primeira_ch }}
        </p>

        <hr>

        <p>
            <b>Salmo:</b>
            {{ l.salmo }}
        </p>

        <hr>

        <p>
            <b>Segunda Leitura em Português:</b>
            {{ l.segunda_pt }}
        </p>

        <hr>

        <p>
            <b>Segunda Leitura em Changana/Ronga:</b>
            {{ l.segunda_ch }}
        </p>

        <hr>

        <p>
            <b>Oração dos Fiéis:</b>
            {{ l.oracao_fieis }}
        </p>

    </div>

    {% endfor %}

    <!-- VOLTAR -->

    <a href="/" class="botao">
        🏠 Voltar ao Início
    </a>

</div>

</div>

</body>
</html>
