<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Redes Sociais</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="container">

    <!-- TÍTULO -->
    <h1 class="titulo-principal">
        🌐 Redes Sociais
    </h1>

    <p class="frase-biblica">
        Acompanhe a vida pastoral da paróquia nas redes sociais.
    </p>

    <!-- FACEBOOK -->
    <div class="card">

        <h2>📘 Facebook da Paróquia</h2>

        <p>
            Veja fotos, vídeos, eventos,
            transmissões e actividades pastorais.
        </p>

        <a
            href="https://url.za.m.mimecastprotect.com/s/O2KXCX6V96sl8RmqH6fncWAAw-?domain=facebook.com"
            target="_blank"
            class="botao"
        >
            Abrir Facebook
        </a>

    </div>

    <!-- VOLTAR -->
    <a href="/" class="botao">
        🏠 Voltar ao Início
    </a>

</div>

</div>

</body>
</html>
